:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #393b3d;
}

/* Personal CSS for the itsfood website (made by itsfood) */
html {
  scroll-behavior: smooth;
}

.invisible {
  display: none;
}

.grow {
  transform: scale(1.05);
}

.shrink {
  transform: scale(0.95);
}

/* Theme */
@media (prefers-color-scheme: light) {
  :root {
    --theme-web-bg: white;
    --theme-alt-bg: #cecece;

    --theme-text: black;
    --theme-color: var(--light);
    --theme-primary: var(--primary);
    --theme-muted: #3f3f3f;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-web-bg: #1a1a1a;
    --theme-alt-bg: #2b2b2b;

    --theme-text: white;
    --theme-color: var(--dark);
    --theme-primary: var(--primary);
    --theme-muted: #afafaf;
  }
}

/* Other Adjustments */
body {
  position: relative;
  background-color: var(--theme-web-bg);
  color: var(--theme-text) !important;
  cursor: default;
  /*disables text selection*/
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
body::-webkit-scrollbar {
  display: none;
}

a {
  transition: 150ms ease-in;
  color: var(--theme-text);
  text-decoration: none;
}
a:hover {
  color: var(--theme-text);
  cursor: pointer;
}

.btn {
  transition: 150ms ease-in;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0, 0.2);
}

nav {
  background-color: var(--theme-color);
  color: var(--theme-muted);
  font-size: 1.3rem;
  height: 4rem;
}
.nav {
  left: 120px;
}
.nav-link {
  color: var(--theme-muted) !important;
  transition: 150ms ease-in;
}
.nav-link:hover {
  color: var(--theme-text) !important;
}
@media only screen and (max-width: 766px) {
  .navbar-brand {
    width: 65px !important;
    height: 75px !important;
    border-top-right-radius: 50% !important;
    border-bottom-left-radius: 0% !important;
    position: absolute;
    top: -5px !important;
    left: -5px !important;
  }
  .navbar-nav {
    position: absolute;
    left: 70px !important;
  }
  img.head {
    width: 55% !important;
  }
}
@media only screen and (min-width: 766px) {
  .navbar {
    opacity: 0.95;
    backdrop-filter: blur(7px) grayscale(1);
  }
  img.head {
    width: 35% !important;
  }
}
.navbar-brand {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute !important;
  top: -5px !important;
  opacity: 1;
}
.nav-item.active a {
  color: var(--theme-text) !important;
}

.card {
  background: var(--theme-color);
  border: none;
}
.jumbotron {
  background: var(--theme-color);
  border: none;
}
.list-group {
  background: var(--theme-color) !important;
  border-radius: 10px;
}
.list-group-item {
  background: var(--theme-color) !important;
}

/* Animations */
.pulse {
  animation: pulse 1500ms ease-out infinite;
}

.hover-pulse:hover {
  animation: pulse 1500ms ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.grow {
  animation: grow 1000ms ease;
}

.hover-grow:hover {
  animation: grow 1000ms ease;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

/* Branding */
.btn-patreon {
  background-color: var(--white);
  color: #ff424d;
}
.btn-patreon:hover {
  color: #ff424d;
}
.btn-kofi {
  background-color: var(--white);
}
